.about {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 0px 100px;

    &-section-one {
        width: 50%;
        height: 100%;

        p {
            margin-top: 20px;
        }
    }

    &-section-two {
        width: 40%;
        height: 100%;

        ul {
            list-style: none;

            li {
                margin: 20px 0;

                i{
                    color: #F4781E;
                }
            }
        }
    }
}

.contact-link {
    margin: 100px;
}