$primary-color:#2880AF;
$grey-color:#E6E6E6;
$dark-grey-color: #707070;
$light-color: #F5F5F5;
$feature-color: #F4781E;
$dark-color:#1E619B;
$success-color: green;
$danger-color: red;
$white-color: #fff;
$black-color:#000;


$pattern-background: url("data:image/svg+xml,%3Csvg width='76' height='18' viewBox='0 0 76 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 18c-2.43-1.824-4-4.73-4-8 0-4.418-3.582-8-8-8H0V0h20c5.523 0 10 4.477 10 10 0 4.418 3.582 8 8 8h20c4.418 0 8-3.582 8-8 0-5.523 4.477-10 10-10v2c-4.418 0-8 3.582-8 8 0 3.27-1.57 6.176-4 8H32zM64 0c-1.67 1.256-3.748 2-6 2H38c-2.252 0-4.33-.744-6-2h32z' fill='%231e619b' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");

//set text color based on background
@function set-text-color($color){
    @if(lightness($color) > 0){
        @return $black-color;
    }@else{
        @return $light-color;
    }
}

//set background & text color
@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}

// Margin and Padding

$spaceamounts:(1,2,3,4,5);

@each $space in $spaceamounts {
    //all around margin
    .m-#{$space}{
        margin: #{$space}rem;
    }

    //veretical margin
    .my-#{$space}{
        margin: #{$space}rem 0;
    }

    //all around padding
    .p-#{$space}{
        padding: #{$space}rem;
    }

    //veretical padding
    .py-#{$space}{
        padding: #{$space}rem 0;
    }
}