.services {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 0px 100px;

    &-grid {
        margin-top: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .service {
            padding: 50px;
            color: $primary-color;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            text-align: center;
     
            &-icon{
                font-size: 3.5rem;
            }
            &-title{
                max-width:40%;

            }
            &-text{
                width: 40%;
                max-width: 50px;
            
                
            }
        }
    }
}