.btn{
    text-decoration: none;
    display: inline-block;
    background:$light-color;
    color: $white-color;
    padding: 0.4rem 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in;
    border-radius:5px;
    

    &-primary{
        @include set-background($primary-color);
        &:hover{
            background: lighten($primary-color, 10%);
        }
    }

    &-feature{
        @include set-background($feature-color);
        color: $white-color;
        &:hover{
            background: lighten($feature-color, 5%);
        }
    }
    
    &-dark{
        @include set-background($dark-color);
        &:hover{
            background: lighten($dark-color, 5%);
        }
    }

    &-success{
        @include set-background($success-color);
        &:hover{
            background: lighten($success-color, 5%);
        }
    }

    &-danger{
        @include set-background($danger-color);
        &:hover{
            background: lighten($danger-color, 5%);
        }
    }

}