.vessels {
    margin: 100px 100px 0px 100px;
    display: flex;
    flex-direction: column;
}

.vessel-flex {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.vessel {
    background-color: $grey-color;
    height: 325px;
    width: 275px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-img{
        width: 100%;
        height: auto;
        padding: 0;
    }

}