.vessels-container{
    margin: 100px 100px 0px 100px;
    display: flex;
    flex-direction: column;
}
.vessels-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.vessel-single{
    width: 25%;
    background-color: $grey-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $dark-color;

    img{
        width: 60%;
    }

    ul{
        list-style: none;
    }
}
.vessel-info{
    width: 50%;
    
    a{
        text-align: center;
        width: 100%;
    }
}