@import 'about';
@import 'config';
@import 'services';
@import 'vessels';
@import 'team-page';
@import 'contact';
@import 'forms';
@import 'utilities';
@import 'work';
@import 'vessels-page';
@import 'vessel-page';
@import 'mobile';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: $grey-color;
    animation-name: load;
    animation-duration: 1s;

}

@keyframes load{
    from {
        opacity: 0;
        transform: rotateY(-10%);
    }
    to{
        opacity: 1;
        transform: rotateY(0) ;
    }
}

.position-r{
    position: relative;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}



.container {
    border-radius: 5px;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    height: 120%;
    margin: 0 10%;
    z-index: 99;
    min-height: 100vh;
}

.large-margin{
    margin-top: 45%;
}

.small-margin{
    margin-top: 15vh;
}

.line {
    background-color: $primary-color;
    height: 4px;
    width: 200px;
    margin: 10px 0;
}

.blue-block {
    background-color: $dark-color;
    width: 100%;
    height: 40px;
    z-index: 99;
}
.heading{
    color: $dark-color;
    display: flex;
    align-items: center;
    

    img{
        padding: 10px;
        width:40px;
        height: auto;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    width: 100%;
    height: 100px;
    padding: 0 150px;
    z-index: 99;

    .logo {
        align-items: center;
        height: auto;
        width: 10%;
        display: flex;
        justify-content: center;
            img{
                width:100%;
            }
    }

    ul {
        display: none;
        width: 50%;
        list-style: none;
        justify-content: space-between;
        align-items: center;

        li {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: $dark-grey-color;

                &:hover {
                    color: $dark-color;
                    font-weight: 600;
                }
            }
        }
    }
}

.newsletter-sign-up {
    background-color: $primary-color;
    background-image: $pattern-background;
    width: 100%;
    height: 100%;
    color: $white-color;
    margin-top: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 50px;

        .form-control{
            width: 100%;
        }
    }

}

.video{
z-index: 1;
position: absolute;
height: 100vh;
width: 100%;
   video{
    position: inherit;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
    } 
}

footer{
    height: 100%;
    width: 100%;
    background-color: $dark-color;
    margin-top: 100px;

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 200px;
        color: $white-color;
        margin-top: 50px;
        

        .phone-number{
            top:0;
            margin: 50px 0 ;
            &-text{
                display: flex;
                flex-direction: column;

                .number{
                    color: $feature-color;
                    font-weight: 600;
                    font-size: 1.5rem;
                    text-decoration: none;
                }
            }
        }

        .address{
            margin: 50px 0; 
        }

        .emails{
            margin:50px 0;
            display: flex;
            flex-direction: column;

            a{
                text-decoration: none;
                color: $white-color;

                &:hover{
                    color: $feature-color;
                }
            }
        }
    }

    .copyright{
        width: 100%;
        padding: 0 200px;
        color: $white-color;
    }

}

.accordion{
    .hidden{
            overflow: hidden;
            max-height: 0;
            position: relative;
        }
        .hide{
            display: none;
        }
        .active{
            display: block;
        }

    .answer{
              
        

        &::before{
            content: "";
            position: absolute;
            width: .6rem;
            height: 90%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
           
        }

        p{
            color: rgba(0,0,0, 0.9);
            padding: 1.5rem;
        }
    }

    margin: 20px 0px;

    &-link{
        font-size: 1.2rem;
        text-decoration: none;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6rem 0;

        i{
            padding: 0.5rem;
            color: $feature-color;
        }

        .fa-chevron-circle-down{
            display: none;
        }
    }

    &-item{
        width: 100%;
        background-color: $grey-color;
        border-radius: 5px;
        margin-top: 2rem;
        padding: 10px;
        box-shadow: 0.5rem 1px 0.5rem rgba(0, 0, 0, 0.2);

    }
}

.tech-specs{
    margin: 100px 0 0 0;
    padding: 100px;
    background-color: $primary-color;
    background-image: $pattern-background;
    color: white;

    .heading{
        color:white;
    }
}

.press-release{
    margin: 100px;

    &-box{
        background-color: $grey-color;
        width: 100%;
        display: flex;
        border-radius: 5px;
    }
    
    .btn{
        text-align: center;
        width: 30%;
    }

    &-text{
        display: flex;
        flex-direction: column;

    }

    &-img{
        width: 30%;
        height: auto;
    }
}

.coming-soon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




